.filters {
  display: flex;
  padding: 1rem 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.25rem;
  border-radius: 2rem;
  background: var(--Primary-900-50);
}

.visually-hidden {
  position: absolute;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

fieldset {
  background-origin: none;
  border: none;
}

.fieldset-column {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.fieldset-row {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.heading-1 {
  font-size: var(--heading-1-size);
  font-weight: var(--heading-1-weight-medium);
  color: var(--Primary-0);
}

.radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.radio input {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  aspect-ratio: 1 / 1;
  border: 0.125rem solid var(--Primary-0);
  border-radius: 50%;
  cursor: pointer;
}

.radio input:checked {
  background: radial-gradient(
    circle,
    var(--Primary-0) 0 0.375rem,
    transparent 0.3125rem
  );
}

.radio label {
  color: var(--Primary-0);
  font-size: var(--body-2-size);
  font-weight: var(--body-2-weight-regular);
}

.directions {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: var(--Primary-900-70);
}

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  flex: 1 1 auto;
}

.field-simple {
  width: 9.375rem;
}

.field-default {
  min-width: 13.5rem;
  padding: 0.5rem;
  border-radius: 0.75rem;
  background: var(--Primary-900-70);
}

.field label {
  color: var(--Primary-0);
  font-size: var(--body-3-size);
  font-weight: var(--body-3-weight-light);
  line-height: 1rem;
}

.field input,
.field select {
  width: 100%;
  max-height: 1.25rem;
  padding: 0;
  color: var(--Primary-0);
  font-size: var(--body-2-size);
  line-height: 1.25rem;
  background: transparent;
  border: none;
}

.field-control {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.field-icon,
.field-chevron {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  color: var(--Primary-0);
}

.field-chevron {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
}

.field-default input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 0;
  margin: 0;
  opacity: 0;
}

.field select {
  appearance: none;
  cursor: pointer;
}

.swap-button {
  display: flex;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.125rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  background: var(--Primary-900, #000);
  color: var(--Primary-500, #b4bbc0);
}

.btn {
  display: flex;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--body-2-size, 1rem);
  font-weight: var(--body-2-weight-regular, 400);
  padding: 1rem 1.25rem;
  border-radius: 1.25rem;
  transition: background-color 0.15s ease-in-out;
}

.btn-secondary {
  background: var(--Primary-0, #fff);
  color: var(--Primary-900, #000);
}
.btn-secondary:hover {
  background: var(--Primary-500, #b4bbc0);
}
