@import "font";
@import "base";
@import "layout";
@import "modules/card";
@import "modules/filters";

:root {
  --Primary-0: #fff;
  --Primary-100: #f5f5f5;
  --Primary-200: #eceeef;
  --Primary-400: #bbb;
  --Primary-500: #b4bbc0;
  --Primary-600: #6c6f72;

  --Primary-800: #343434;
  --Primary-900: #000000;
  --Primary-900-50: rgba(0, 0, 0, 0.5);
  --Primary-900-70: rgba(0, 0, 0, 0.7);

  --font-family-base: "Montserrat", sans-serif;

  --heading-1-size: 2rem;
  --heading-1-weight-medium: 500;
  --heading-3-size: 1.5rem;
  --heading-3-weight-semibold: 600;

  --body-2-size: 1rem;
  --body-2-weight-regular: 400;
  --body-2-weight-medium: 500;

  --body-3-size: 0.875rem;
  --body-3-weight-light: 300;
  --body-3-weight-regular: 400;
  --body-3-weight-semibold: 600;
}
